
h2
 {color: red; background-color: purple;}
 body { color: black; background-color: pink;}


 /* pristup preko ID-a */
 #prvi {
    color: blue;
 }


 /* pristup prekoa klase */
 .drugi {
    color: red;
 }