
h2
 {color: aqua; background-color: black;}
 body { color: blanchedalmond; background-color: blueviolet;}


 /* pristup preko ID-a */
 #prvi {
    color: yellow;
 }


 /* pristup prekoa klase */
 .drugi {
    color: red;
 }